*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.captcha-box {
    background-color: white;
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 12px;
    gap: 10px;
    justify-content: center;
}
